html, body {
    font-family: 'Microsoft Sans Serif', sans-serif;
    padding-top: 2.2rem;
}



@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 187px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1.5rem;
        overflow-y: auto;
        text-align: left;
        visibility: hidden;
        background-color: #fff;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }

        .offcanvas-collapse.open {
            visibility: visible;
            transform: translateX(-100%);
        }
}

@media(max-width: 576px) {
    #Dashboard {
        font-size: 14px;
    }

    .spnDashboard {
        display: none;
    }
}


.btn-primary {
    color: #fff !important;
    background-color: #FF5400 !important;
    border: 1px solid #FF5400 !important;
}

    .btn-primary:hover {
        color: #fff !important;
        background-color: #FF5400 !important;
        border: 1px solid #FF5400 !important;
    }

.btn-nav-primary {
    font-size: 18px;
    color: #fff !important;
    border: 1px solid #FF5400 !important;
    background-color: #FF5400 !important;
}

    .btn-nav-primary img {
        margin-right: 5px;
    }

        .btn-nav-primary img:hover {
            margin-right: 5px;
        }

    .btn-nav-primary:hover {
        font-size: 18px;
        color: #fff !important;
        border: 1px solid #FF5400 !important;
        background-color: #FF5400 !important;
    }


.btn-active-primary {
    font-size: 20px !important;
    color: #FF5400 !important;
    border: 1px solid #FF5400 !important;
    background-color: #fff !important;
    border-radius: 4px !important;
}

    .btn-active-primary:hover {
        font-size: 20px !important;
        color: #FF5400 !important;
        border: 1px solid #FF5400 !important;
        background-color: #fff !important;
        border-radius: 4px !important;
    }

.btn-outline-primary {
    color: #FF5400 !important;
    border: 1px solid #FF5400 !important;
    background-color: #fff !important;
    width: 75px !important;
    height: 70px !important;
    border-radius: 4px !important;
}

btn-outline-primary span {
    text-align: center;
}

.btn-outline-primary:hover {
    color: #FF5400 !important;
    border: 1px solid #FF5400 !important;
    background-color: #fff !important;
    width: 75px !important;
    height: 70px !important;
    border-radius: 4px !important;
}


.btn-outline-primary-text {
    font-family: 'Microsoft Sans Serif';
    font-size: 11px;
}

.text-primary {
    color: #FF5400 !important;
}
